#navbar {
	background-color: #022B4C !important;
}
#titre {
	color: #ffffff !important;
	text-align: center;
	font-family: sans-serif;

}
a {
	color: #022B4C;
	font-family: sans-serif;
	font-size: large;
}
.ais-search-box > input {
	width: 100%;
}
.navbar-toggler-icon {
	color: white;
	background-color: white;
}