#navbar {
	background-color: #022B4C !important;
}
#titre {
	color: #ffffff !important;
	text-align: center;
	font-family: sans-serif;

}
a {
	color: #022B4C;
	font-family: sans-serif;
	font-size: 20px;
}
.ais-search-box > input {
	width: 100%;
	padding-left: 2em;
	height: 40px;
	color: #000000

}
.navbar-toggler-icon {
	color: white;
	background-color: white;
}
#left-column {
	font-size: 80%;
}
p {
	font-family: mavenpro;

}

.nav-link {
	font-size: 15px;
	text-align: center;
}
#search-input {
	border-radius: 0% !important;
	color: white !important;
}
.event {
	font-size: 105%;
}
.ais-refinement-list--header {
	padding-bottom: 7% !important;
}
